<!doctype html>

  <head>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <style>
      table, th, td, tr {
          border: 1px solid black;
          text-align: center;
          line-height: 20px;
      }
      button {
         background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
      }
    </style>
  -->
  </head>
  <h1> Welcome to the World's Greatest Sports Investing Blockchain Application. </h1>
  <h2> <a href="{{ url_for('get_blockchain') }}"> View the current state of the blockchain here </a></h2>
  <h3>Here is a list of all bets placed. </h3>
  <form action="/create_contract">
    <button>Create new bet?</button>
  </form>
  <br>
  <br>
  <table>
      <thead>
        <tr>
          <th>Event</th>
          <th>Team</th>
          <th>Quantity</th>
          <th>Odds</th>
          <th>Expiration Date</th>
          <th>Source of Truth</th>
          <th>Check Result Time </th>
          <th>Poster's public key </th>
          <th>Poster's digital signiture </th>
          <th>Date/Time of posting </th>
          <th>Bet Hash Value </th>
          <th> Bet on Game? </th>
        </tr>
      </thead>
      
      <tbody>
        {% for bet in bets %}
          <tr>
            <td> {{ bet.event }} </td>
            <td> {{ bet.team }} </td>
            <td> {{ bet.quantity  }} </td>
            <td> {{ bet.odds }} </td>
            <td> {{ bet.expiration_date|strftime }} </td>
            <td> {{ bet.source_of_truth }} </td>
            <td> {{ bet.check_result_time }} </td>
            <td> {{ bet.party1_public_key }} </td>
            <td> {{ bet.party1_digital_sig }} </td>
            <td> {{ bet.created_time|strftime }} </td>
            <td> {{ bet.contract_hash_value }} </td>
            <td> <a href="{{ url_for('accept_bet',bet_id=bet.contract_hash_value) }}">Take the opposite side of {{ bet.event }}?</a></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

    